form {
  border: 1px solid rgba(196, 232, 241, 0.452);
  background-color: rgba(240, 248, 250, 0.452);
  border-radius: 3px;
  padding: 40px;
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

form {
  input[type='text'] {
    justify-content: center;
    width: 100%;
    height: 80px;
    font-size: 15px;
  }
}
form {
  input[type='submit'] {
    background-color: rgba(41, 201, 241, 0.452);
    margin-top: 25px;
    margin-bottom: 0;
    width: 30%;
    border-radius: 8px;
    padding: 7px;
    justify-content: center;
    align-self: center;
    color: rgb(255, 254, 254);
    font-size: 15px;
  }
}
form {
  input[type='submit']:focus {
    outline: none;
  }
}
form {
  input[type='submit']:hover {
    background-color: rgba(1, 129, 161, 0.452);
  }
}
